
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <article>
            <pre class="hakkimizda" style="font-family:cursive;word-break:keep-all;">
                
                Quisque malesuada magna porta, congue purus sed, tempor magna. Duis id ultrices orci. Donec eu faucibus lectus. Nullam scelerisque odio et quam congue aliquet. Cras consectetur consequat scelerisque. Nullam consequat cursus pellentesque. Donec at sem sed mauris gravida aliquet quis a elit. Vestibulum ullamcorper metus metus, et pharetra mauris pharetra non. Donec a venenatis ex. Vivamus pretium massa nibh, eget tempus lectus semper sit amet.

                Maecenas vel purus nisi. Morbi sit amet nulla sem. Curabitur varius enim in justo volutpat gravida. Aenean cursus sed elit feugiat varius. Donec quis urna eget metus rhoncus interdum quis quis elit. Vivamus aliquam et lorem sit amet tincidunt. Duis egestas elit sapien, ac porta sem pretium at. Duis in quam ultrices, egestas dui sit amet, egestas arcu. Donec vehicula fermentum feugiat. Fusce placerat ullamcorper vulputate.

                Praesent auctor fringilla elit, vitae consectetur justo maximus in. Donec suscipit velit non tellus eleifend viverra. Nulla tincidunt aliquet magna, eu faucibus massa pellentesque a. Morbi lobortis justo massa, a sagittis neque blandit condimentum. Vivamus blandit massa lectus, non sollicitudin nulla semper id. Maecenas viverra bibendum sem, ac porta risus euismod nec. Nam eleifend viverra nunc vel aliquam. Nulla interdum lacus ac lectus vulputate mollis. Duis fringilla nibh velit, at porta enim pellentesque et.

            </pre>
        </article>
    </div>
</div>
<footer class="container-fluid navbar-fixed-bottom" style="position:relative;">
    <hr />
    <div class="col-lg-3">
        <h5 class="text-muted text-right">
            Adres : Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
        </h5>
    </div>
    <div class="col-lg-6">
        <h5 class="text-muted text-center">
            İletişim : ilan.sozluk@gmail.com
        </h5>
    </div>
    <div class="col-lg-3">
        <h5 class="text-muted">&copy; @DateTime.Now.Year - İlan-ı Sözlük</h5>
    </div>
</footer>