@{
    ViewBag.Title = "Sözleşme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <article>
            <pre class="hakkimizda" style="font-family:cursive;word-break:keep-all;">
               
                Kullanıcı verdiği tüm bilgilerden sorumludur.  Site  hiçbir  şekilde  herhangi bir  kuruma  zarar verme amaçlı kullanılamaz.Aksi takdirde cezalardan sorumlu olmayı kullanıcı taahhüt eder.

                Kullanıcı ayrıca, telif hakkı içeren iş ilanları hakkında bu site üzerinden başlık açarak konuşma başlatmamayı taahhüt eder.
                
                Site tamamiyle iş görüşmelerinin sonuçlarını takip edebilme ya da sonuçları kişilerinin vereceği doğru bilgilere göre hareket edebilmeyi amaçlar.

                Kullanıcı bilgileri ve IP leri 12 ay süre ile tutulmakta ve kullanıcı, paylaştığı bilgilerin sorumluluğunu yerine getirmediği takdirde,doğacak olan anlaşmazlıklarda kişisel verileri ilgili birimlerle paylaşılacaktır.

                Sitede yer alan içerikler sözlüğün insiyatifi doğrultusunca her türlü platformda yayınlanabilir ve kullanıcı bu durumdan herhangi bir maddi kazanç sağlayamayacağını taahhüt eder.

                Kullanıcının,sitenin amacına uygun olmayan içerikler sağladığı yada sitenin amacına uygun hareket etmediği tespit edildiğinde üyeliği sözlük yönetimince iptal edilmesi sorgulanamaz.

                Kullanıcı işbu sözleşmenin,hem kendi yararına hem platformu oluşturanın yararına hem de siteden alacağı bilgilerle doğru hareket etme şansı bulup iş arama sürecini iyileştirebilecek kullanıcıların yararına olduğunu kabul eder,saygı duyar ve bu sözleşmeye bağlılığını taahhüt eder.
           
                Bu doğrultuda,herkesin yararına olacak olan bu ürünün temiz kullanılması,siz ve sizden  sonra  katılacak diğer bireyler için de önem teşkil etmektedir. 

                Anlayışınız ve düşünceli davranışlarınızdan ötürü teşekkür eder herkesin kariyer yolculuğunda doğru bilgiye site üzerinden ulaşabilmesini temenni ederim.

                Herkesin,istediği işi alabilmesi dileğiyle..
            </pre>
        </article>
    </div>
</div>
<footer class="container-fluid navbar-fixed-bottom" style="position:relative;">
    <hr />
    <div class="col-lg-3">
        <h5 class="text-muted text-right">
            Adres : Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
        </h5>
    </div>
    <div class="col-lg-6">
        <h5 class="text-muted text-center">
            İletişim : ilan.sozluk@gmail.com
        </h5>
    </div>
    <div class="col-lg-3">
        <h5 class="text-muted">&copy; @DateTime.Now.Year - İlan-ı Sözlük</h5>
    </div>
</footer>