<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title text-center" style="color:#cb0b87;" id="h4AramaBaslik"></h4>
</div>
<div class="modal-body">
    <span class="text-warning">Arama için en az 3 karakter giriniz..</span><br /><br />
    <textarea id="txtSearch" class="form-about-yourself form-control" style="max-width:100%!important"></textarea><br />

    <div class="divResult" id="searchDiv" style="clear:both;">
        @*resultviewün geldiği kısım*@ 
    </div>
</div>
