@model Sozilan.Data.Model.Entry

<a href="#+"><span class="fa fa-toggle-up" onclick="arttir(@Model.ID)" id="up_@Model.ID"></span></a>

<a href="#-"><span class="fa fa-toggle-down" onclick="azalt(@Model.ID)" id="down_@Model.ID"></span></a>



