@using PagedList
@using PagedList.Mvc
@model IPagedList<Sozilan.Data.Model.Entry>


@{
    ViewBag.Title = "Kullanıcı Başlıklar";
    Layout = "~/Areas/Users/Views/Shared/_UserLayout.cshtml";
}
@*admin home başlıklar*@
<div class="container-fluid">
    <div class="row">
                @Html.Partial("SolFramePartial")
        <div class="col-lg-9">
            <ul class="list-unstyled">
                @*@Html.Partial("IcerikAdminPartial")*@
                @Html.Partial("Icerik")
                <br />
                <li class="list-unstyled">
                    <span class="text-right">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Entry Gir</button>
                    </span>
                </li>
            </ul>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog" style="position:page;">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" id="basliklarModel">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            @{
                                foreach (var item in Model)
                                {
                                    <h4 class="modal-title text-center" id="h4baslik">@item.Title.Content</h4>
                                    break;
                                }
                            }
                        </div>
                        @Html.Partial("EntryKaydetPartial")
                        @*ajaxtan gelen veri buraya insert edilir*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>